.agent__stats-item {
    display: flex;
    width: 100%;
    margin: 22px 0 50px;
    justify-content: space-evenly
}

@media only screen and (min-width:768px) {
    .agent__stats-item {
        justify-content: flex-start
    }
}

@media only screen and (max-width:768px) {
    .agent__stats-item {
        margin: 30px 0 0
    }
}

@media only screen and (min-width:1280px) {
    .agent__stats-item {
        margin: 30px 0 0
    }
}

@media only screen and (max-width:380px) {
    .agent__stats-item {
        flex-wrap: wrap
    }
}

.agent__stats-item .agent__stats-item-list {
    display: inline-block;
    text-align: center;
    list-style: none
}

.agent__stats-item .agent__stats-item-list.list--wider {
    display: block;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative
}

@media only screen and (min-width:768px) {
    .agent__stats-item .agent__stats-item-list.list--wider {
        display: inline-block;
        margin-bottom: 0;
        padding-bottom: 0
    }
}

@media only screen and (min-width:1280px) {
    .agent__stats-item .agent__stats-item-list.list--wider {
        margin-right: 40px
    }
}

@media only screen and (max-width:768px) {
    .agent__stats-item .agent__stats-item-list.list--wider {
        margin-bottom: 0;
        padding-bottom: 0
    }
}

@media only screen and (min-width:768px) {
    .agent__stats-item .agent__stats-item-list {
        text-align: left;
        margin-right: 60px
    }
}

@media only screen and (min-width:1280px) {
    .agent__stats-item .agent__stats-item-list {
        margin-right: 80px
    }
}

.agent__stats-item .agent__stats-count {
    font-family: MercuryDisplay-Roman, Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0;
    margin: 0;
    color: #fff
}

@media(min-width:768px) {
    .agent__stats-item .agent__stats-count {
        font-size: 60px;
        line-height: 60px;
        letter-spacing: 0;
        margin-bottom: 20px
    }
}

.agent__stats-item .agent__stats-desc {
    width: 100px;
    margin: 0;
    font-family: BentonSans-Medium, Arial, sans-serif;
    font-weight: 600;
    color: #999
}

.agent__stats-item .agent__stats-desc.desc--wider {
    display: inline-block;
    width: 105px
}

@media only screen and (min-width:768px) {
    .agent__stats-item .agent__stats-desc.desc--wider {
        display: block
    }
}

@media(min-width:768px) {
    .agent__stats-item .agent__stats-desc {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1.6px
    }
}

@media(max-width:768px) {
    .agent__highlights {
        margin-bottom: 20px
    }
}